html {
  scroll-behavior: smooth !important;
}

.masthead-video {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 20%;
  z-index: 0;
  width: 100%;
  background: rgb(26, 26, 26);
}

.name-title {
  position: absolute;
  z-index: 2;
  font-family: MaisonNeueExtended, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
  font-size: 70%;
  color: white;
  top: 20px;
  text-align: left;
  padding-left: 5%;
  padding-top: 0%;

  transition:
    color 1s ease-in-out, 
    font-size 5s ease-in-out;
}

.name-title:hover, .name-title:focus {
  color: red;
  font-size: 300%
}

.links {
  position: absolute;
  /* top: 90; */
  right: 0;
  z-index: 2;
  font-size: 20pt;
  color: white;
  text-align: right;
  padding-right: 5%;
  padding-top: 0%;
  top: 0;
}

.links li{
  list-style-type: none;
}

.videoContainer .overlay {
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, .35) 80%, rgba(0, 0, 0, .99));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  margin: 0%;
  width: 100%;
  height: 100%;
}

.videoContainer .white-overlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, .7), transparent, 90%, black);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 100%;
}

.icon-youtube:before {
  content: "\e914";
}

.icon-instagram:before {
  content: "\e90f"
}

.icon-mail-share:before {
  content: "\e905"
}

.icon-twitter:before {
  content: "\ea96"
}

.icon-mail:before {
  content: "\e905"
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "turbo";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 2em;
  margin-left: .15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'turbo';
  src: url("//cdn.shopify.com/s/files/1/2166/8231/t/20/assets/turbo.eot?5880");
  src: url("//cdn.shopify.com/s/files/1/2166/8231/t/20/assets/turbo.eot?5880") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/2166/8231/t/20/assets/turbo.woff?5880") format("woff"), url("//cdn.shopify.com/s/files/1/2166/8231/t/20/assets/turbo.ttf?5880") format("truetype"), url("//cdn.shopify.com/s/files/1/2166/8231/t/20/assets/turbo.svg?5880") format("svg");
  font-weight: normal;
  font-style: normal
}

.links ul li a {
  /* height: 40px; */
  /* line-height: 40px; */
  /* padding: 0; */
  color: white;
  /* text-shadow: none; */
  /* transition: 0.3s; */
  text-decoration: none;
  /* position: relative; */
  text-align: center;
  -webkit-transition: color .3s linear;
  -moz-transition: color .3s linear;
  -o-transition: color .3s linear;
  -ms-transition: color .3s linear;
  transition: color .3s linear, font-size .2s ease;
}

.links ul li a:hover, .links ul li a:focus{
  color: red;
  font-size: 150%
}

.gallery-container {
  position: absolute;
  top: 100%;
  z-index: 3;
  left: 0;
  color: black;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 0, .7);
}

.gallery-container marquee {
  position: absolute;
  top: 25%;
  z-index: 3;
  left: 0;
}

.x-masthead-arrow {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  bottom: 0;
  padding-bottom: 60px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  left: 50%;
  margin-left: -24px;
  -webkit-transition: bottom 0.5s ease-out;
  transition: bottom 0.5s ease-out;
  position: absolute;
  width: 48px;
  z-index: 10
}

.x-masthead-arrow:hover {
  bottom: -10px
}

.gallery-title {
  font-family: MaisonNeueExtended, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
  text-align: center;
  position: relative;
  top: 5%;
  padding-bottom: 0;
  font-size: 6vh;
  color: white;
  margin-bottom: 0;
}

.gal-sub-cont {
  top: 10%;
  width: 100%;
  /* left: 4%; */
  height: 5%;
  margin: 0;
  text-align: center;
  position: relative;
  padding-bottom: 2%
}

.gallery-subtitle {
  /* float: left; */
  display: inline-block;
  font-size: 2vh;
  color: white;
  letter-spacing: 1vw;
  padding-right: 2%;
  padding-left: 2%;
}

.poor {
  color: red;

}

.ig-images {
  width: 20%;
  padding-top: 0;
  left: 0;
  padding-inline-start: 0px;
}

.ig-images div img{
  width: 100%;
  max-width: 200px;
}

.shop-container {
  position: absolute;
  top: 200%;
  height: 100%;
  width: 20%;
  left: 0;
}

.shop-title {
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 3;
  color: white;
  font-size: 2vh;
}

.beat-bg {
  position: relative;
  height: 100%;
  background-color: black;
  width: 100%;
  left: 0;
}

.scroll-down {
  position: absolute;
  top: 35%;
  width: 20%;
  height: 60%;
  padding-top: 0;
  left: 40%;
  overflow: hidden;
}

.slide span {
  width: 100%;
  position: absolute;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, .70) 40%);
  color: white;
  max-width: 200px;
}



.scroll-down .inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateY(-100%);
  -webkit-transform:translateY(-100%);	
  transform:translateY(-100%);
  /* Apply animation to this element */	
  -moz-animation: scroll-down 40s linear infinite;
  -webkit-animation: scroll-down 40s linear infinite;
  animation: scroll-down 40s linear infinite;
}

 /* Move it (define the animation) */
@-moz-keyframes scroll-down {
  0%   { -moz-transform: translateY(-420%); }
  100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes scroll-down {
  0%   { -webkit-transform: translateY(-420%); }
  100% { -webkit-transform: translateY(100%); }
}
@keyframes scroll-down {
  0%   { 
    -moz-transform: translateY(-420%); /* Browser bug fix */
    -webkit-transform: translateY(-420%); /* Browser bug fix */
    transform: translateY(-420%); 		
  }
  100% { 
    -moz-transform: translateY(100%); /* Browser bug fix */
    -webkit-transform: translateY(100%); /* Browser bug fix */
    transform: translateY(100%); 
  }
}